body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#paragraph1{
    margin: none;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background: rgba(150,150,150, .5);
    max-width: 980px;
}
#paragraph1 h3{
    margin: none;
    padding: none;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
p{
    margin: none;
    padding: none;
    column-width: 400px;
    column-count: 2;
    column-gap: 30px;
    text-align: justify;
    column-rule: 2px dotted #1e90ff;
    color: #454545;
    line-height: 1.7;
    word-break: break-all;
}
p img{
    width: 200px;
}
#HEROPY1{
    float: left;
}
#HEROPY2{
    float: right;
}
#HEROPY3{
    display: block;
    margin: 0 auto;
    width: 300px;
}
.box{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin: 10px 0;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    background: #1e90ff;
    animation: size-up 3s linear infinite alternate;
}
.box1:before{
    content: "Running";
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}
.box1:hover{
    animation-play-state: paused;
    background: rgb(255,100,50);
}
.box1:hover::before{
    content: "Paused";
}
@keyframes size-up{
    0%{
        width: 150px;
    }
    100%{
        width: 100%;
        max-width: 1020px;
    }
}
.box2{
    background: #c01090;
}
.box2:hover{
    animation: size-up1 1s 2 alternate linear 0s;
}
.box3{
    background: #00c0c0;
}
.box3:hover{
    animation: size-up1 1s 2 alternate linear 1s;
}
@keyframes size-up1{
    0%{
        width: 150px;
    }
    100%{
        width: 510px;
    }
}
.box4{
    background: #30C030;
}
.box4:hover{
    animation: my-animation 2s infinite alternate linear;
}
@keyframes my-animation{
    0%{
        width: 150px;
    }
    75%{
        width: 500px;
        background: #1e90ff;
    }
    100%{
        width: 300px;
        background: #a030a0;
    }
}
#box-wrapper{
    width: 200px;
    height: 200px;
}
.box5{
    width: 100px;
    height: 100px;
    background: #1c509f;
}
.box5:hover{
    animation: move 2s;
    animation-timing-function: infinite;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
@keyframes move{
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(100px,0);
    }
    50%{
        transform: translate(100px,100px);
    }
    75%{
        transform: translate(0,100px);
    }
    100%{
        transform: translate(0,0);
    }
}
#flex-item{
    margin: 20px 0;
    border: 4px dashed #666;
    display: flex;
    width: 1012px;
}
#flex-item .item{
    width: 100px;
    height: 100px;
    background: #ffa500;
    border: 5px dashed #4078e8;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}
#flex-item .item1{
    order: 3;
}
#flex-item .item3{
    order: 0;
}
#flex-item .item4{
    order: 1;
}
#flex-item .item6{
    order: -1;
}
#align-item{
    margin: 20px 0;
    border: 4px dashed #666;
    display: flex;
    width: 1012px;
    height: 300px;
    align-items: baseline;
}
#align-item .item{
    width: 100px;
    height: 100px;
    background: #66deff;
    border: 5px dashed #ffa500;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}
#align-item .item:nth-child(3){
    font-size: 100px;
}
#align-self{
    width: 1012px;
    height: 400px;
    border: 4px solid #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
#align-self .item{
    width: 100px;
    height: 100px;
    background: #c0f550;
    border: 5px dashed #666;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: #ff00ff;
    font-size: 20px;
    font-weight: 500;
}
#align-self .item2{
    align-self: center;
}
#align-self .item4{
    align-self: flex-start;
}
#align-self .item6{
    align-self: stretch;
    height: 300px;
}
#align-self .item8{
    align-self: stretch;
    height: auto;
}
#flex{
    border: 4px solid #777;
    display: flex;
}
#flex .item{
    height: 100px;
    background: #ffa500;
    border: 5px dashed #ff3030;
    border-radius: 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    flex: 1 1 auto;
}
#flex-grow{
    border: 4px solid #777;
    display: flex;
}
#flex-grow .item{
    height: 100px;
    background: #ffa500;
    border: 5px dashed #ff3030;
    border-radius: 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}
#flex-grow .item1{
    flex-grow: 1;
}
#flex-grow .item2{
    flex-grow: 2;
}
#flex-grow .item3{
    flex-grow: 3;
}
#flex-basis{
    border: 4px solid #777;
    display: flex;
}
#flex-basis .item{
    height: 100px;
    background: #ffa500;
    border: 5px dashed #ff3030;
    border-radius: 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
    flex-grow: 1;
    flex-basis: 0;
}
#flex-basis .item3{
    flex-grow: 2;
}
#myButton{
    display: none;
    width: 100px;
    height: 50px;
    background: rgb(60, 120, 255);
    border: 3px solid #aaa;
    border-right: 3px solid #777;
    border-bottom: 3px solid #777;
    color: #fff;
    font-size: 16px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#myButton:hover{
    background: rgb(7, 126, 7);
}
